.Portfolio-home {
    scroll-snap-align: start;
    /* necessario para el scroll de la pantalla inicio, los demas lo tienen en index.css con un css comun */
    display: flex;

    justify-content: space-around;
    gap: 100px;
    height: 100vh;
    max-height: 100vh;
    background-color: #ECE7E1;
    position: relative;
    overflow: hidden;
}

.Portfolio-home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    /* permitir margen de movimiento al estar por fuera */
    height: 200%;
    background: radial-gradient(circle, #9a5b5b 12%, transparent 14%);
    /* se crea con un 8% de tamaño y  */
    background-size: 2px;
    /* al no tenner altura el ciruclo se convierte en un pixel rojo y el patron al ser super grande se ve como una linea (tendria altura poniendo dos valores 20px 20px por ej)*/

    opacity: 0;
    transition: opacity 0.4s ease-out, transform 1s linear;
    z-index: 0;
    pointer-events: none;

}

.Portfolio-home:hover::before {
    opacity: 0.25;
    transform: translate(-10%, -10%) rotate(5deg);
}


.PortfolioPresentation {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 20px;
    width: 30vw;
    height: 75%;
    pointer-events: none;
}


.PortfolioPresentation-h1 {
    font-weight: 400;
    font-size: 20px;
}

.PortfolioPresentation-h3 {
    padding: 8px 0;
    font-weight: 300;
    font-size: 16px;
}

.PortfolioPresentation-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 50vw;
    align-items: flex-start;
}

.PortfolioPresentation-link {
    display: inline-block;
    width: fit-content;

    color: #333;
    font-size: 6rem;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    /* text-align: center; */

    transition:
        /* transform 0.6s ease-in-out, */
        color 0.6s ease-in-out;
}

.PortfolioPresentation-link:hover {
    /* transform: skewX(-3deg); */
    color: #555;
}

.estudios {
    color: #555;
}

/* aside del home */

.HomeWrapper {
    display: flex;
    min-height: 100vh;
}

.HomeAside {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    flex-shrink: 0;
    /* para q no se reduzca en pantallas pequeñas */
    gap: 80px;
}

.HomeAside-ul {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    gap: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;

}

.HomeAside-link {
    color: #333;
    transition: color 0.6s ease-in-out;

}

.HomeAside-link:hover {
    color: #a54949;
}

.HomeAside-line {
    width: 1px;
    height: 55%;
    background-color: #333;
}

/* @keyframes fondo-movil{
    0% {transform: translate(0, 0) rotate(0deg)}
    100% { transform: translate(-10%, -10%) rotate(5deg);}
} */