* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

}

html,
body {
  height: 100%;
}

/* 
* {
  outline: 1px solid rgba(0, 255, 0, 0.2);
} */

:root {
  --bg-sections: #f2f2f2;
  --color-hover-a-blue: #053c7b;
  --color-hover-a-red: #a54949;
  --color-main-bg: #ECE7E1;
  --color-title: #111;
  --color-text: #333;
  --color-text-sec: #666;
}

.Body {
  width: 100%;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* scroll-behavior: smooth; */
  overflow-x: hidden;

}

.Root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}



.ScrollContainer {
  height: auto;
  overflow-y: scroll;
  /* scroll-snap-type: y mandatory;
  scroll-behavior: smooth; YA NO LO NECESITO PORQ IMPORTO GSAP*/
}

.ScrollSection {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ECE7E1;
  /* justify-content: center; */
}

button {
  all: unset;
  /* Elimina todos los estilos predeterminados */
  background: none;
  border: none;
  font: inherit;
  /* Hereda el estilo de la fuente del elemento padre */
  color: inherit;
  /* Hereda el color del texto del elemento padre */
  cursor: pointer;
  /* Asegura que el cursor sea un puntero cuando se pase por encima */
}