* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html,
body {
  height: auto;
  overflow-y: auto;
}

/* 
* {
  outline: 1px solid rgba(0, 255, 0, 0.2);
} */

:root {
  --bg-sections: #fffaf5;
  --color-a-hover: #7e4545;
  --color-a: #893131;
  --color-main-bg: #ece7e1;
  --color-title: #111;
  --color-text: #333;
  --color-text-sec: #666;
}

.Body {
  width: 100%;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* scroll-behavior: smooth; */
  overflow-x: hidden;
}

.Root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

button {
  all: unset;
  /* Elimina todos los estilos predeterminados */
  background: none;
  border: none;
  font: inherit;
  /* Hereda el estilo de la fuente del elemento padre */
  color: inherit;
  /* Hereda el color del texto del elemento padre */
  cursor: pointer;
  /* Asegura que el cursor sea un puntero cuando se pase por encima */
}
