.ProyectosWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 100vh;
  max-width: 100vw;
  padding: 2rem 2.5rem;
  background-color: var(--bg-sections);
  overflow-x: hidden;
}

.Proyectos-header {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding-bottom: 40px;
}

.Proyectos-h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-title);
}

.Proyectos-h3 {
  font-weight: 400;
  color: var(--color-text-sec);
  font-size: 1.1rem;
  max-width: 60ch;
  /* maximo 60 caracteres */
  text-align: start;
}

.Proyectos-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  width: 100%;
  padding: 0 40px;
}

/* proyecto individualmente */

.Proyecto-card {
  /* linea separadora en top de cada proyecto */
  border-top: 1px solid #ccc;
  padding: 2rem 0;
  overflow: hidden;
}

.Proyecto-track {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.Proyecto-panel {
  /* tamaño del panel ni se agranda ni se encoge, exactamente el 50% */
  flex: 0 0 50%;
}

/* parte de numero + img */
.Proyecto-panel--media {
  height: 400px;
  /* marco uniforme */
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-right: clamp(12px, 2vw, 32px);
  gap: clamp(20px, 6vw, 80px);
  /* clamp => minimo, por donde puede fluir (IDEAL), maximo */
}

.Proyecto-numero {
  color: var(--color-text);
  font-size: clamp(42px, 5vw, 60px);
}
.Proyecto-imgLink {
  height: fit-content;
}

.Proyecto-imgWrapper {
  flex: 0 0 auto;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  width: clamp(260px, 30vw, 520px);
  aspect-ratio: 16 / 9;
  transition: transform 0.4s ease;
}

.Proyecto-skeleton {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.Proyecto-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transition:
    transform 0.4s ease,
    opacity 0.3s ease-out;
  transform-origin: center center;
  /* rellena el marco sin deformarse */
}

.Proyecto-imgWrapper:hover .Proyecto-img {
  transform: scale(1.05);
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 40px;
  opacity: 0;
  transform: translateY(100%);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}
.Overlay-text {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.Proyecto-imgWrapper:hover .Overlay {
  opacity: 1;
  transform: translateY(0);
}

/* parte de descripción del proyecto */
.Proyecto-panel--texto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Proyecto-texto {
  margin: 0.5rem 0;
  /* espacio entre líneas */
  line-height: 1.4;
  font-size: 1rem;
  color: var(--color-title-sec);
}

.Proyecto-texto--primero {
  margin-top: 1.4rem;
}

.Proyecto-titulo {
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: bold;
  width: fit-content;
  transition: color 0.3s ease-out;
  line-height: 1.2em;
}

.Proyecto-titulo:hover {
  color: var(--color-a-hover);
}

.Proyecto-a {
  position: relative;
  display: block;
  overflow: hidden;
  text-transform: uppercase;
  width: fit-content;
}

.MotionDiv-oculto {
  position: absolute;
  inset: 0;
}

.Proyecto-enlacesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  width: 280px;
  margin-left: auto;
  /* empujar contenido a la derecha gracias a flex y marign left auto */
}

.Proyecto-enlace {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--color-a);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: color 0.3s ease-out;
}

.Proyecto-enlace:hover {
  color: var(--color-a-hover);
}

.Proyecto-enlace--texto {
  position: relative;
}

.Proyecto-enlace--texto::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: var(--color-a-hover);
  transition: width 0.3s ease;
}

/* si el <a> con clase Proyecto-enlace recibe hover, entonces expande el ::after Proyecto-enlace--texto a dentro */
.Proyecto-enlace:hover .Proyecto-enlace--texto::after {
  width: 100%;
}

@media (max-width: 1024px) {
  .Proyectos-container {
    padding: 0 10px;
  }

  .Proyecto-panel--media {
    gap: 32px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 0 20px; */
    padding-right: 40px;
  }

  .Proyectos-h3 {
    max-width: 50ch;
  }

  .Proyecto-enlacesContainer {
    padding-top: 8px;
  }
}

@media (max-width: 768px) {
  .Proyectos-header {
    align-items: start;
    width: 100%;
    padding-bottom: 10px;
  }

  .Proyectos-container {
    padding: 0;
    margin: 40px 0;
  }

  .Proyectos-h3 {
    max-width: 40ch;
    font-size: 1rem;
  }

  .Proyecto-panel--media {
    gap: 20px;
  }

  .Proyecto-track {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .Proyecto-panel {
    padding: 0;
  }

  .ProyectosWrapper {
    padding: 2rem 1.2rem;
  }

  .Proyecto-enlace {
    justify-content: flex-start;
    gap: 12px;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  .Proyecto-enlacesContainer {
    margin-left: 0;
  }
}
