.ProyectosWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
    padding: 80px 0;
    background-color: var(--bg-sections);
    overflow-x: hidden;

}

.Proyectos-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Proyectos-h2 {
    font-size: 2.625rem;
    color: #333;
}

.Proyectos-h3 {
    color: #666;
    ;
    font-size: 1.1rem;
    width: 80%;
}

.Proyectos-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    margin: 40px 0;
    width: 100%;
    padding: 0 120px;
}

/* proyecto individualmente */

.Proyecto-card {
    /* linea separadora en top de cada proyecto */
    border-top: 1px solid #ccc;
    padding: 2rem 0;
    overflow: hidden;
}

.Proyecto-track {
    display: flex;
}


.Proyecto-panel {
    /* tamaño del panel ni se agranda ni se encoge, exactamente el 50% */
    flex: 0 0 50%;
    padding: 0 1rem;
}

/* parte de numero + img */
.Proyecto-panel--media {
    height: 400px;
    /* marco uniforme */
    overflow: hidden;
    display: flex;
}

.Proyecto-numero {
    font-size: 60px;
}

.Proyecto-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* rellena el marco sin deformarse */
}


/* parte de descripción del proyecto */

.Proyecto-texto {
    margin: 0.5rem 0;
    /* espacio entre líneas */
    font-size: 0.95rem;
    line-height: 1.4;
    color: #333;

}

.Proyecto-descripcion {
    font-size: 1rem;
    color: #444;
}

.Proyecto-titulo {
    font-size: 1.4rem;
    margin-bottom: 0.75rem;
    font-weight: bold;
}

.Proyecto-enlacesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    width: 280px;
    margin-left: auto;
    /* empujar contenido a la derecha gracias a flex y marign left auto */
}

.Proyecto-enlace {
    font-size: 1.1rem;
    text-decoration: none;
    color: #0366d6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: color 0.3s ease-out;
}

.Proyecto-enlace:hover {
    color: #053c7b;
}


/* parte ultima del slider de proyecto VER PROYECTO */
.Proyecto-panel--cta{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Proyecto-cta {
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: #333;
    transition: color 0.3s ease-out;
}

.Proyecto-cta:hover{
    color: #053c7b;
}

.Proyecto-cta::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #053c7b;
    transition: width 0.3s ease;
}

.Proyecto-cta:hover::after{
    width: 100%;
}

.Proyecto-cta-text {
    font-size: 60px;
}

.Proyecto-cta-arrow {
    font-size: 42px;
    /* color: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
}
