.SobreMi {
    display: flex;
    flex: 1;
    gap: 2rem;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 2.5rem;
    background-color: var(--bg-sections);
}

.SobreMi-img {
    flex: 1;
    max-width: 50%;
    object-fit: cover;
    min-width: 0
}

.SobreMi-texto {
    flex: 1;
    word-break: break-word;
    min-width: 0
}


.SobreMi-p {
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 1.5rem;
    color: var(--color-text);
    /* tono gris para suavizar */
}

.SobreMi-ul {
    margin: 1rem 0 2rem 0;
    padding-left: 1.2rem;
}

.SobreMi-li {
    font-size: 1.05rem;
    line-height: 1.6;
    margin-bottom: 0.8rem;
    list-style: square;
}

.SobreMi-a {
    color: var(--color-text);
    transition: color 3s ease-out;
}

.SobreMi-a:hover {
    color: var(--color-hover-a-blue);
}

@media (max-width: 768px) {
    .SobreMi {
        flex-direction: column-reverse;
        text-align: center;
    }

    .SobreMi-img {
        max-width: 250px;
    }

    .SobreMi-texto {
        text-align: left;

    }
}